* {
    box-sizing: border-box;
}
tr :nth-child(even) {
    background-color: antiquewhite;
}

td, table
 {
    border:  1px solid black;
    margin:0px;
    padding: 5px;
}

fieldset {
    display: flex;
    float: left;
    flex-flow: column;
    max-width: 240px;
}